.plantcards {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  justify-content: flex-start;
  margin-left: 50px;
}

.plantcard {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 300px;
  margin: 30px;

  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 4px darkgrey;

  text-align: left;
}

.plantcardname {
  text-align: center;
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: 800;
  margin-left: 30px;
}

.plantcardimage {
  width: 100%;
  height: auto;
  margin: 15px;

  align-items: center;
  align-self: center;
}

.plantcardinfo {
  margin-left: 0px;
}

.wallpic {
  height: 300px;
  width: auto;
}

.ppwall {
  height: 30px;
}

.addplantbtn {
  margin-top: 20px;
  margin-left: 100px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: green;
  color: white;
  font-size: 1.2em;
}

.myplantstitle {
  margin-left: 100px;
  padding-top: 20px;
}

.myplantspage {
  background-color: #f0f2f5;
  width: 100%;
}

.plantcardtop {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}

.plantcardtopbtn i {
  font-size: 1.1em;
  margin-left: 10px;
  margin-right: 10px;
}

.givemewater {
  font-size: 1em;
  margin-top: 20px;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  align-self: center;
  background-color: lightblue;
}

.plantcardallinfo {
  align-self: center;
}

.PlantForm {
  margin-left: 80px;
  margin-bottom: 5px;
  margin-top: 20px;
  background-color: white;
  width: 500px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px darkgrey;
}

.labelplant {
  display: inline-block;
  width: 140px;
  text-align: left;
}

.selectplant {
  width: 200px;
  margin: 5px;
  height: 30px;
  font-size: 1em;
}

.inputplant {
  margin: 5px;
  width: 200px;
  height: 30px;
  font-size: 1em;
}

.interval {
  width: 60px;
}

.fileplant {
  font-size: 1em;
  width: 300px;
}

.btn-submit-plant {
  margin-top: 20px;
  margin-left: 100px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: green;
  color: white;
  font-size: 1.2em;
}
