@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap");

.plantcards {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  justify-content: flex-start;
  margin-left: 50px;
}

.plantcard {
  display: flex;
  flex-direction: column;
  height: 440px;
  width: 200px;
  margin: 30px;

  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 4px darkgrey;

  text-align: left;
}

.plantcardname {
  text-align: center;
  margin-top: 10px;
  font-size: 0.8em;
  font-weight: 800;
  margin-left: 30px;
}

.plantcardimage {
  width: 100%;
  height: 180px;
  margin: 15px;

  align-items: center;
  align-self: center;
}

.plantcardimage:active {
  width: 500px;
  height: auto;
  z-index: 1;
  position: absolute;
  bottom: 20px;
}

.plantcardinfo {
  margin-left: 0px;
}

.wallpic {
  height: 300px;
  width: auto;
}

.ppwall {
  height: 30px;
}

.addplantbtn {
  margin-top: 20px;
  margin-left: 100px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: #4a7f37;
  color: white;
  font-size: 1em;
  border: none;
  box-shadow: 2px 2px 4px darkgrey;
}

.myplantstitle {
  margin-left: 100px;

  font-family: Just Another Hand;
  font-size: 4em;
  font-weight: 200;
  text-shadow: 2px 2px 4px darkgrey;
}

.walltitle {
  margin-left: 300px;
  font-family: Just Another Hand;
  font-size: 5em;
  font-weight: 200;
  text-shadow: 2px 2px 4px darkgrey;
}

.myplantspage {
  background-color: #f0f2f5;
  width: 100%;
  position: relative;
  top: 90px;
}

.plantcardtop {
  display: flex;
  justify-content: space-between;

  align-items: flex-end;
}

.plantcardtopbtn i {
  font-size: 0.8em;
  margin-left: 10px;
  margin-right: 10px;
}

.givemewater {
  font-size: 1em;
  margin-top: 20px;
  border-radius: 15px;
  width: 150px;
  height: 50px;
  align-self: center;
  background-color: #2d98aa;
  box-shadow: 2px 2px 4px darkgrey;
  border: none;
}

.plantcardallinfo {
  align-self: center;
}

.PlantForm {
  margin-left: 80px;
  margin-bottom: 5px;
  margin-top: 20px;
  background-color: white;
  width: 500px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px darkgrey;
}

.labelplant {
  display: inline-block;
  width: 140px;
  text-align: left;
  font-size: 0.9em;
}

.selectplant {
  width: 250px;
  margin: 5px;
  height: 30px;
  font-size: 0.9em;
  border: none;
  border-radius: 15px;
  padding: 5px;
  background-color: #f0f2f5;
}

.inputplant {
  margin: 5px;
  width: 250px;
  height: 30px;
  font-size: 0.9em;
  border: none;
  background-color: #f0f2f5;
  border-radius: 15px;
  padding: 15px;
}

.interval {
  width: 60px;
}

.fileplant {
  font-size: 1em;
  width: 300px;
}

.btn-submit-plant {
  margin-top: 20px;
  margin-left: 120px;
  width: 200px;
  height: 35px;
  border-radius: 10px;
  background-color: #4a7f37;
  box-shadow: 2px 2px 4px darkgrey;
  color: white;
  font-size: 1em;
  border: none;
}

.profileplant {
  height: 200px;
  width: auto;
}

.profilemyplants {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-flow: wrap;
  justify-content: flex-start;
  margin-left: 10px;
  margin-bottom: 10px;
}

.formEditplant {
  position: relative;
  top: 90px;
  background-color: white;
  padding: 15px;
  width: 600px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px lightgrey;
  margin-left: 30px;
}

.userpageplantstitle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-weight: 200;
  margin-right: 80px;
}

.usersplants {
  display: flex;
  flex-direction: column;
}

.flexuserpage {
  display: flex;
  justify-content: space-evenly;
}

.flexuserpageprofile {
  display: flex;
  justify-content: space-evenly;
}

.userplantspartleft {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

.userpagetitle {
  margin-left: 10px;
  margin-bottom: 30px;
  font-family: Just Another Hand;
  font-size: 4em;
  font-weight: 200;
  text-shadow: 2px 2px 4px darkgrey;
}

.userplantname {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.fullbodyprofile {
  position: relative;
  top: 120px;
}
