.plantcards {
  display: flex;
  align-items: center;
}

.plantcard {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 220px;
  margin: 30px;
  border: 1px solid black;
  border-radius: 20px;
}

.plantcardname {
  text-align: center;
}

.plantcardimage {
  width: auto;
  height: 150px;
  margin: 15px;
}

.plantcard button {
  align-self: center;
  margin-top: 10px;
  width: 80px;
}

.plantcardinfo {
  margin-left: 10px;
}

.wallpic {
  height: 300px;
  width: auto;
}

.ppwall {
  height: 30px;
}

.PlantForm {
  margin-left: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.PlantForm__title {
  font-size: 1em;
  margin-bottom: 20px;
}
