.wallpostcontainer {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  width: 680px;
  position: relative;
  left: 50px;
  background-color: white;
  align-self: center;
  border-radius: 8px;
  box-shadow: 2px 2px 4px darkgrey;
}

.wallfuldiv {
  margin-top: 25px;
}

.wallpostuser {
  display: flex;
  width: 220px;
}

.wallPost {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.ppcomment {
  height: 35px;
}

.usercommenting {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.wallbody {
  background-color: #f0f2f5;
  display: flex;
  flex-direction: column;
}

.fullbodywall {
  background-color: #f0f2f5;
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
}

.wallpic {
  background-size: cover;
  width: 100%;
  height: auto;
}

.posttop {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.posttopuser {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
}

.ppwall {
  height: 100%;
  width: auto;
  padding-right: 10px;
}

.ppusercontainer {
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

.ppusercontainer2 {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;

  margin-bottom: 20px;
}

.ppusercontainercomment {
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

.posttopbtns {
  margin: 5px;
}

.posttopbtns i {
  margin: 5px;
  font-size: 1em;
}

.postdate {
  width: 100px;
}

.posttopuserinfo {
  display: flex;
  flex-direction: column;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: lightgrey;
  height: 1px;
  margin-bottom: 10px;
}

#comment {
  height: 35px;
  width: 500px;
  border-radius: 25px;
  font-size: 1em;
  padding-left: 20px;
  border: none;
  background-color: #f0f2f5;
}

.commentForm {
  display: flex;
  margin-top: 20px;
}

.fa {
  cursor: pointer;
}

.commentsubbtn {
  margin-left: 5px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
}

.posttitle {
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 18px;
  align-self: flex-start;
  margin-left: 20px;
}

.postsubtitle {
  margin-top: 10px;
  margin-bottom: 18px;
  align-self: flex-start;
  margin-left: 20px;
  font-size: 1em;
}

.completecomment.commentpart {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 500px;
}

.commentpart {
  margin: 10px;
  margin-top: 20px;
  display: flex;
  width: 650px;
}

.commentinside {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #f0f2f5;
  border-radius: 15px;
  width: 90%;
}

.commentuserinfo {
  font-size: 0.8em;
}

.commenttext {
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 1em;
}

.wallForm {
  position: relative;
  left: 50px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;

  background-color: white;
  width: 680px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px darkgrey;
}

.wallForm2 {
  position: relative;
  left: 50px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  top: 20px;
  background-color: white;
  width: 50vw;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px darkgrey;
}

.labelwall {
  display: inline-block;
  width: 80px;
  text-align: left;
}

.inputwall {
  margin: 5px;
  width: 350px;
  height: 30px;
  font-size: 1em;
  border: none;
  background-color: #f0f2f5;
  border-radius: 15px;
  height: 35px;
  padding: 10px;
}

.btnaddwall {
  padding: 10px;
  width: 280px;
  height: 50px;
  align-self: center;
  border: none;
  background-color: #4a7f37;
  border-radius: 8px;
  color: white;
  font-size: 1em;
}

.ppusercontainer:active {
  width: 300px;
  height: 300px;
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
  z-index: 1;
}

.wallpic:active {
  width: 800px;
  height: auto;
  z-index: 2;
}

.profiletoppost {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.posttitleprofile {
  width: 600px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.searchform {
  margin-left: 0px;
  margin-top: 5px;
  width: 350px;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
}

.searchformuserpage {
  margin-left: 50px;
  margin-top: 20px;
  width: 350px;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
}

.usercontainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  width: 300px;
  align-items: center;
}

.usercontainerpage {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 20px;
  background-color: white;
  width: 500px;
  align-items: center;
}

.allusercontainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  width: 350px;
  align-items: center;

  height: 500px;

  overflow-x: hidden;
}

.noplants {
  margin-left: 50px;
  margin-top: 50px;
  font-size: 1.2em;
}

.allusercontainer::-webkit-scrollbar {
  width: 0.4em;
}

.allusercontainer::-webkit-scrollbar-track {
  box-shadow: inset 1px 1px 6px rgba(96, 219, 14, 0.3);
}

.allusercontainer::-webkit-scrollbar-thumb {
  background-color: #4a7f37;
  outline: 1px solid rgb(1, 29, 5);
}

.allusercontainerpage {
  display: flex;
  flex-direction: column;
  align-self: left;
  background-color: white;
  border-radius: 15px;

  width: 600px;
  align-items: center;
  margin-left: 50px;
}

.hruser {
  width: 100%;

  margin: 10px;
}

.wallFullPage {
  display: flex;
  flex-direction: column;
}

.userswallpageee {
}

.fullbodywall {
}

.fulluserpagebody {
  position: relative;
  top: 25px;
}

p {
  font-size: 0.8em;
}

.oneuserbody {
  position: relative;
  top: 20px;
}

.userplantsbody {
  display: flex;
  flex-direction: column;
}

.wallpagecss {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.userplantscontainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.userplantimage {
  width: 250px;
  border-radius: 10px;
}

.usersplants {
  display: flex;
}

.wallbodyprofile {
  position: relative;
  top: 50px;
}

.fullbodyprofile {
  position: relative;
  top: 20px;
}

.fileplant {
  font-size: 1em;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  border-radius: 15px;
  padding: 10px;
  margin-top: 10px;
  font-size: 1.1em;
  font-weight: 200;
  color: white;
  background-color: #4a7f37;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #4a7f37;
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

.usernameppfu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.wallpage {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: baseline;
}

.tempimgwall {
  width: 350px;
  height: auto;
  display: flex;
  margin-left: 60px;
  margin-top: 20px;
}

.loadingwallgif {
  height: 35px;
}

.loadinggifwall {
  height: 100px;
  margin-left: 70px;
}
